@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Custom CSS for Navbar Font */
.navbar-fixed .nav-wrapper a,
.navbar-fixed .nav-wrapper ul li a {
    font-family: 'Roboto', sans-serif; /* New font */
    font-weight: 700; /* Optional: Bold */
}


.brand-logo {
    font-family: 'Roboto', sans-serif !important; /* Use !important to ensure the font is applied */ 

} 
 
.fa-terminal {
    color: black; /* Set the icon color to black */
} 

.fa-terminal:hover {
    color: orange;
}

.brand-logo i{ 
    font-size: 2.2rem; 

}  
section {
    min-height:100vh;
    padding:2rem 9%;
}
/* hero section starts*/ 

.home {
    background-color: #f5f5f5; /* Very light grey */
    padding: 100px 0;
    color: darkblue; /* Ensure this is the same as your font color */
}

.home {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
  }


  .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .home .content {
    flex: 1 1 40rem;
    padding-top: 1rem;
    z-index: 1;
  }
  .home .image {
    flex: 1 1 40rem;
    z-index: 1;
  }
  .home .image img {
    width: 50%;
    margin-left: 6rem;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .home .image img:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .home .content h2 {
    font-size: 5rem;
    font-weight: 800;
    color: #002057;
  }
  .home .content h2 span {
    font-size: 5rem;
    font-weight: 800;
    color: #ff7b00;
  }
  .home .content p {
    font-size: 2.5rem;
    color: #000;
    font-weight: 600;
    padding: 1rem 0;
  }
  .home .content p span {
    font-size: 2.5rem;
    color: rgb(148, 8, 8);
    font-weight: 600;
    padding: 1rem 0;
  }
  .home .btn {
    margin-top: 1rem;
    position: absolute;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 4em;
    transition: 0.5s;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
  }
  .home .btn span {
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
  }
  .home .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .home .btn:hover {
    background: #1a047e;
  }
  .home .btn:hover i {
    transform: translateX(5px);
  }
  /* social icons start */
  .socials {
    position: relative;
    margin-top: 9rem;
  }
  .socials .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .socials .social-icons li {
    display: inline-block;
    margin-bottom: 14px;
  }
  .social-icons a {
    font-size: 2rem;
    display: inline-block;
    line-height: 44px;
    color: #00d9ff; 
    background-color: #09011b;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #0685da;
  }
  .social-icons a.github:hover {
    background-color: #0e0e0e;
  }
  .social-icons a.linkedin:hover {
    background-color: #007bb6;
  }
  .social-icons a.instagram:hover {
    background-color: #ee00da;
  }
  /* social icons end */
  
  /* hero media queries starts*/
  @media (max-width: 450px) {
    .home .btn {
      margin: 4rem 0;
    }
    .socials {
      margin-top: 12rem;
    }
    .home .image img {
      margin-top: -12rem;
    }
    .home .content p {
      font-size: 2.2rem;
    }
    .home .content p span {
      font-size: 2.2rem;
    }
  }
  /* home end*/ 
  /* about section starts */
.about {
    background: rgb(255, 255, 255); 
  }
  .about .row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 4rem;
  }
  .about .row .image {
    text-align: center;
    flex: 1 1 35rem;
  }
  .about .row .image img {
    margin: 4rem;
    width: 30rem;
    height: auto;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    mix-blend-mode: luminosity;
    transition: 0.3s;
    cursor: pointer;
  }
  .about .row .image img:hover {
    mix-blend-mode: normal;
  }
  .about .row .content {
    flex: 1 1 45rem;
    padding: 3rem;
  }
  .about .row .content h3 {
    color: rgb(27, 27, 27);
    font-size: 2.5rem;
  }
  .about .row .content .tag {
    font-size: 1.4rem;
    color: #020133;
    font-weight: 600;
    margin-top: 1rem;
  }
  .about .row .content p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
    text-transform: none;
  }
  .about .row .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
  }
  .about .row .content .box-container .box p {
    text-transform: none;
  }
  .about .row .content .box-container .box p span {
    color: #011aff;
  }
  .resumebtn {
    margin-top: 6rem;
  }
  .resumebtn .btn {
    padding: 1.7rem 3rem;
    border-radius: 0.5em;
    transition: 0.3s;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
  }
  .resumebtn .btn span {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .resumebtn .btn i {
    margin-left: 0.3rem;
    font-size: 1.2rem;
    transition: 0.3s;
  }
  .resumebtn .btn:hover {
    background: #1a047e;
  }
  .resumebtn .btn:hover i {
    transform: translateX(5px);
  }
  /* about media queries starts*/
  @media screen and (max-width: 600px) {
    .about .row .image {
      margin-top: 2rem;
    }
    .about .row .image img {
      margin: 0 auto;
      width: 80%;
      mix-blend-mode: normal;
    }
    .about .row {
      padding: 0.5rem;
      margin-bottom: 7rem;
    }
    .about .row .content {
      padding: 1rem;
    }
    .about .row .content .box-container {
      gap: 0;
    }
  }
  /* about media queries ends*/
  /* about section ends */
   
/* footer section starts */
.footer {
    min-height: auto;
    padding-top: 0;
    background: rgb(10, 5, 60);
  }
  .footer .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .box-container .box {
    flex: 1 1 25rem;
    margin: 2.5rem;
  }
  .footer .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding-bottom: 1rem;
    font-weight: normal;
  }
  .footer .box-container .box p {
    font-size: 1.5rem;
    color: #ccc;
    padding: 0.7rem 0;
    text-transform: none;
  }
  .footer .box-container .box p i {
    padding-right: 1rem;
    color: #ffae00;
  }
  .footer .box-container .box a {
    font-size: 1.5rem;
    color: rgb(238, 238, 238);
    padding: 0.3rem 0;
    display: block;
  }
  .footer .box-container .box a:hover {
    color: #ffae00;
  }
  .footer .box-container .box .share {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
  }
  .footer .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5rem;
    font-size: 1.7rem;
    margin-right: 1rem;
    transition: 0.2s;
    background: rgb(230, 230, 230);
    color: #02094b;
    border: none;
  }
  .footer .box-container .box .share a:hover {
    background: transparent;
    transform: scale(0.98);
    border: 0.1rem solid rgb(180, 178, 178);
    color: #ffae00;
  }
  .footer .credit {
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: #fff;
    border-top: 0.1rem solid #fff3;
  }
  .footer .credit a {
    color: #ffae00;
  }
  .footer .fa {
    color: #e90606;
    margin: 0 0.3rem;
    font-size: 1.5rem;
    animation: pound 0.35s infinite alternate;
  }
  @-webkit-keyframes pound {
    to {
      transform: scale(1.1);
    }
  }
  @keyframes pound {
    to {
      transform: scale(1.1);
    }
  }
  @media (max-width: 450px) {
    .footer .box-container .box {
      margin: 1.5rem;
    }
    .footer .box-container .box p {
      padding: 0.7rem;
    }
    .footer .box-container .box .share a {
      padding: 1.2rem;
    }
  }
  /* footer section ends */
  